This notebook will be mainly used for the capstone project

# Assignment for Week 3 :
## Segmenting and Clustering Neighborhoods in Toronto
### Question 1

### 1/ Install all the libraries

In [ ]:
! pip install beautifulsoup4
! pip install lxml
! pip install html5lib
! pip install requests

### 2/ Import libraries

In [133]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

### 3/ Web Scraping

First, **get the HTML code** of the website using BeautifulSoup

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup (source,"lxml")
#print(soup.prettify())

Then, get the HTML code of the table, use pandas to read it as a dataframe.

In [135]:
table = soup.find_all('table')[0]
df = pd.read_html(str(table))[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

**Data cleaning**:
+ Drop cells with a borough that is Not assigned.
+ Combine two rows with same post code into one row with the neighborhoods separated with a comma.
+ If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [164]:
df = df[df['Borough']!='Not assigned']
df.reset_index(inplace=True, drop = True)

for i in df.index:
    if df.iloc[i]['Neighbourhood']=='Not assigned':
        df.iloc[i]['Neighbourhood']=df.iloc[i]['Borough']

df = df.groupby(['Postcode','Borough']).agg(lambda col:','.join(col))
df.reset_index(inplace = True)
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [165]:
df.shape

(103, 3)