# Introduction of Business

Our stakeholders are investors of real estate for both store and residence estate.
There are several domains to be investigated for an investment, such as housing pricing, security, transportation, and neighborhood enviroment including commercial oriented and convenience of access to services.

In this project, we will only focus on the anlysis of the neighborhood environment. We expect to look into five aspects of each neighborhood: commercial (including gourmet, hotel, park, personal service, etc.), residential, office building, access to healthcare, transportation. 

Depending on the specialty of our stakeholder: residence investiment, store investiment, restaurant investment, etc. We could offer a weighted scoring system of each neighborhood. Then based on each focus field, we will could give more detailed analysis based on the venues' data. Each case will be discussed in more detail in what follows.

# Describe the data

From previous modules, we have got the below dataset:
+ **List of postal codes of Toronto** :
This dataset listed all the boroughs and neighborhoods of Toronto city that we will investigate.

In [6]:
#@hidden_cell
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, header = 0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

+ **Geospatial of Coordinates** :
This data set offers latitude and longitude of all the neighborhoods. It will help us to visulize all the targeted location on the map.

In [3]:
#@hidden_cell
import geocoder
path = 'http://cocl.us/Geospatial_data'
df_geo = pd.read_csv(path)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

+ **Venue data from Foursquare API** :
These dataset should be sufficient for our analysis, as the Foursqure API contains variance detailed data that we can look into. 
We can not only explore neighborhoods' venues, but also look into ratings, tips if we are specially interested about the venue.

In [8]:
#@hidden_cell
CLIENT_ID = 'FVISL4XZWUPZ4KAH3DKXVELZYEMGNC0AVR55QV1XVICMSBST' # your Foursquare ID
CLIENT_SECRET = 'IT1PJDNXRKKQKL3CHMUVYDZDK0W5VJY3XZ1MLSVYGGCDRCMR' # your Foursquare Secret
VERSION = '20190930'
lat = df_geo.iloc[0]['Latitude']
lng = df_geo.iloc[0]['Longitude']
radius = 1000
LIMIT = 100

In [11]:
#@hidden_cell
import requests
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        CLIENT_ID, 
        CLIENT_SECRET, 
        VERSION, 
        lat, 
        lng, 
        radius, 
        LIMIT)
results = requests.get(url).json()["response"]['groups'][0]['items']
venues_list=[]
venues_list.append([(
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
nearby_venues.columns = ['Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
nearby_venues.head()

,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Images Salon & Spa,43.802283,-79.198565,Spa
1,Staples Morningside,43.800285,-79.196607,Paper / Office Supplies Store
2,Wendy's,43.802008,-79.198080,Fast Food Restaurant
3,Wendy's,43.807448,-79.199056,Fast Food Restaurant
4,Harvey's,43.800106,-79.198258,Fast Food Restaurant